@import "../../../styles/_vars.scss";
@import "@material/typography/mixins";
@import "@material/elevation/mdc-elevation.scss";


header{
  @include mdc-elevation(4);
  @include mdc-typography(title);
  padding: $padding;
  background-color: #555;
  display: relative;
  text-align: center;

  .logo{
    height:64px;
    width:126;
    filter: url('#turb');
    path{
     fill: #fff;
     transition: fill 3s ;
   }
  }

  &:hover{
    .logo{
      path{
       fill: #ffe81f ;
      }
      filter: none;
    }
  }
}
