

@import "./_vars.scss";
@import './_table.scss';


//https://github.com/material-components/material-components-web
@import "@material/typography/variables";
@import "@material/typography/mixins";
@import "@material/elevation/mdc-elevation.scss";
@import "@material/button/mdc-button";



body, html, #root, .App{
  padding:0;
  margin:0;
  height: 100vh;
  @include mdc-typography-base;

}

.App{
  perspective: 100px;
  perspective-origin: 50% 15%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  background: $app-background;
}

.row{
  display:flex;
  flex-direction: row;
  &.padding{
    > * {
      margin: $gutter;
    }
  }
}

.fill{
  flex-grow: 1;
  flex-basis: 100%;
}

.margin{
  margin: $margin;
}

h1{
  @include mdc-typography(headline);
  //@include mdc-typography-adjust-margin(headline);
  text-align: center;
}

h2{
  @include mdc-typography(title);
  //@include mdc-typography-adjust-margin(title);
}

h3{
  @include mdc-typography(subheading1);
  @include mdc-typography-adjust-margin(subheading1);
}

p{
  @include mdc-typography(body1);
  //@include mdc-typography-adjust-margin(body1);
}
